body {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: #f5f5f5;
    width: 910px;
    margin: 100px auto;
    padding: 25px 40px;
}

.content {
    display: flex;
}

.first_user {
    justify-content: flex-start;
}

.second_user {
    justify-content: flex-end;
}

.user, .message {
    margin: 10px;
    padding: 10px;
}

.user {
    width: 130px;
}

.user p {
    color: #808080;
    font-size: 12px;
}

.user1 {
    text-align: right;
}

.user2 {
    text-align: left;
}

.message {
    width: 400px;
    display: flex;
    align-items: center;
}

.message-first_user {
    background-color: #ff000052;
    border-radius: 10px 10px 10px 0;
}

.message-second_user {
    background-color: #0000ff52;
    border-radius: 10px 10px 0 10px;
}
